@import url(http://fonts.googleapis.com/css?family=Mountains+of+Christmas);

body {
    background-color: #28245f;
    font-family: "Mountains of Christmas", sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}
.chart {
    width: 900px;
    height: 530px;
    background:url('WinterChristmasSceneVectorIllustration2.jpg') no-repeat;
    box-shadow: 0 0 5px #000000;
    position: absolute;
    top: 0;
    left: 0;
}
.chart circle {
    cursor: pointer;
}

.food_info {
    font-size: 20px;
    display: none;
    background-color: red;
    border: thin black solid;
    margin-left: 3px;
    padding: 0 20px;
    position: absolute;
    border-radius: 15px;
    z-index: 10;
}
.food_info h3 {
    font-size: 25px;
    margin: 10px 0;
}
.food_info ul {
    margin: 0 0 15px;
    list-style: none;
}

.course_titles .starters {
    position: absolute;
    top: 280px;
    left: 55px;
    background-color: rgba(190,255,247,0.6);
    box-shadow: 0 0 5px #000000;
    padding: 2px 10px;
    border-radius: 15px;
    transform: rotate(-26deg);
}
.course_titles .mains {
    position: absolute;
    top: 340px;
    left: 355px;
    background-color: rgba(190,255,247,0.6);
    box-shadow: 0 0 5px #000000;
    padding: 2px 10px;
    border-radius: 15px;
}
.course_titles .desserts {
    position: absolute;
    top: 269px;
    left: 535px;
    background-color: rgba(190,255,247,0.6);
    box-shadow: 0 0 5px #000000;
    padding: 2px 10px;
    border-radius: 15px;
    transform: rotate(18deg);
}
